### This notebook contains all the cleaning operations done on parsed dataset

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../../data/parsed/pune/listings_cleaned.csv")

In [3]:
df.head()

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
0,₹ 65 Lac,6500000.0,"2 BHK Flat for Sale in Dhanori, Pune",2.0,Carpet Area 834 sqft,834.0,Dhanori,Pune,https://www.magicbricks.com/bramha-sky-city-ph...
1,₹ 70 Lac,7000000.0,"2 BHK Flat for Sale in Ravet, Pimpri Chinchwad...",2.0,Carpet Area 800 sqft,800.0,Ravet,Pune,https://www.magicbricks.com/lotus-laxmi-ravet-...
2,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Dhankawadi, Pune",NaN,Super Area 400 sqft,400.0,Dhankawadi,Pune,https://www.magicbricks.com/propertyDetails/40...
3,₹ 1.35 Cr,13500000.0,"3 BHK Flat for Sale in Bhugaon, Bavdhan, Pune",3.0,Carpet Area 1160 sqft,1160.0,Bhugaon,Pune,https://www.magicbricks.com/propertyDetails/3-...
4,₹ 50 Lac,5000000.0,"2 BHK Flat for Sale in Tingre Nagar, Pune",2.0,Carpet Area 715 sqft,715.0,Tingre Nagar,Pune,https://www.magicbricks.com/choice-group-goodw...

### Detecting and removing duplicates

In [5]:
# List Columns
df.columns.tolist()

['price_raw',
 'price_num',
 'bhk_raw',
 'bhk_number',
 'area_raw',
 'area_sqft',
 'locality',
 'city',
 'listing_url']

In [11]:
print("Before length:", len(df))

Before length: 3000

In [28]:
# Columns based on we are going to look up
dup_cols = ['listing_url', 'price_num', 'area_sqft']

duplicates = df[df.duplicated(subset=dup_cols, keep='first')].sort_values(by=dup_cols)

# Display how many duplicates found
print("Duplicate rows found:", duplicates.shape[0])
print(duplicates.head())

Duplicate rows found: 82
      price_raw   price_num  \
2826   ₹ 42 Lac   4200000.0
314   ₹ 2.42 Cr  24200000.0
308   ₹ 2.62 Cr  26200000.0
307   ₹ 2.85 Cr  28500000.0
1520  ₹ 3.50 Cr  35000000.0

                                                bhk_raw  bhk_number  \
2826                2 BHK Flat for Sale in Katraj, Pune         2.0
314      3 BHK Flat for Sale in Amanora Park Town, Pune         3.0
308      3 BHK Flat for Sale in Amanora Park Town, Pune         3.0
307      3 BHK Flat for Sale in Amanora Park Town, Pune         3.0
1520  3 BHK Flat for Sale in Sahakar Nagar Parvati P...         3.0

                   area_raw  area_sqft                      locality  city  \
2826    Super Area 881 sqft      881.0                        Katraj  Pune
314   Carpet Area 1232 sqft     1232.0             Amanora Park Town  Pune
308   Carpet Area 1340 sqft     1340.0             Amanora Park Town  Pune
307   Carpet Area 1460 sqft     1460.0             Amanora Park Town  Pune
1520  Carpet Area 1610 sqft     1610.0  Sahakar Nagar Parvati Paytha  Pune

                                            listing_url
2826  https://www.magicbricks.com/acme-arcadia-katra...
314   https://www.magicbricks.com/amanora-gateway-to...
308   https://www.magicbricks.com/amanora-gateway-to...
307   https://www.magicbricks.com/amanora-gateway-to...
1520  https://www.magicbricks.com/amits-montecito-sa...

In [29]:
# Save duplicates to file
duplicates.to_csv("../../data/logs/duplicates_removed.csv", index=False)
print("Saved duplicate rows to logs/duplicates_removed.csv")

Saved duplicate rows to logs/duplicates_removed.csv

In [30]:
# Drop duplicates
df_cleaned = df.drop_duplicates(subset=dup_cols, keep='first')
print("Rows after duplicate removal:", df_cleaned.shape[0])

Rows after duplicate removal: 2918

In [32]:
#Saving to new file
df_cleaned.to_csv("../../data/parsed/pune/unique_listing.csv", index=False)

### Handling 'call For price'

In [ ]:
# Change dataframe first to our newly created csv
df = pd.read_csv("../../data/parsed/pune/unique_listing.csv")

In [41]:
df['price_raw'].sample(20)

2662          ₹ 15 Lac
819           ₹ 80 Lac
1019    Call for Price
802         ₹ 78.7 Lac
6            ₹ 1.20 Cr
2312         ₹ 3.60 Cr
1214          ₹ 78 Lac
140           ₹ 99 Lac
279          ₹ 2.42 Cr
1804          ₹ 25 Lac
2542         ₹ 2.50 Cr
1391          ₹ 52 Lac
386           ₹ 53 Lac
613          ₹ 2.88 Cr
817           ₹ 72 Lac
2614        ₹ 71.5 Lac
783           ₹ 50 Lac
1964         ₹ 1.14 Cr
226           ₹ 15 Lac
228          ₹ 2.11 Cr
Name: price_raw, dtype: object

In [42]:
# mask for call for price
mask_call_for_price = df['price_raw'].str.lower().str.contains("call for price", na=False)
df[mask_call_for_price].head()

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
54,Call for Price,NaN,"1 BHK Flat for Sale in Manjari BK, Pune",1.0,Carpet Area 450 sqft,450.0,Manjari BK,Pune,https://www.magicbricks.com/gemini-grand-bay-m...
57,Call for Price,NaN,"3 BHK Flat for Sale in Baner, Pune",3.0,Carpet Area 1213 sqft,1213.0,Baner,Pune,https://www.magicbricks.com/nyati-emerald-bane...
73,Call for Price,NaN,1 BHK Flat for Sale in Bhairavnath Nagar Kirka...,1.0,NaN,NaN,Bhairavnath Nagar Kirkatwadi,Pune,https://www.magicbricks.com/propertyDetails/1-...
91,Call for Price,NaN,"Apartment for Sale in Shivane, Pune",NaN,Super Area 632 sqft,632.0,Shivane,Pune,https://www.magicbricks.com/bhagwant-rahi-resi...
118,Call for Price,NaN,"1 BHK Flat for Sale in Balewadi, Pune",1.0,Carpet Area 491 sqft,491.0,Balewadi,Pune,https://www.magicbricks.com/avishkar-pavilion-...

In [43]:
print("Rows with 'Call for Price':", mask_call_for_price.sum())

Rows with 'Call for Price': 92

In [44]:
# Save to file
df[mask_call_for_price].to_csv("../../data/logs/call_for_price_removed.csv", index=False)

In [45]:
# Drop "Call for price rows"
df = df[~df['price_raw'].str.lower().str.contains("call for price", na=False)]

In [48]:
print((df['price_raw'].str.lower().str.contains("call for price", na=False)).sum())

0

### Validationg 'price_num' column

In [ ]:
#listing out samples
df['price_num'].sample(20)

1102     4800000.0
2117    12000000.0
2806     7100000.0
1202     9370000.0
1161     6700000.0
1153     8370000.0
580     20900000.0
315     22500000.0
2761     8960000.0
1952    47400000.0
1142    10700000.0
2190     5660000.0
793      4200000.0
2291    10000000.0
740     24000000.0
2239    10500000.0
1554    20800000.0
2874     2200000.0
1870    15200000.0
789      6800000.0
Name: price_num, dtype: float64

In [54]:
#finding null values
print(df['price_num'].isna().sum())

0

In [56]:
# are there any negative values
df[df['price_num'] <= 0]

Empty DataFrame
Columns: [price_raw, price_num, bhk_raw, bhk_number, area_raw, area_sqft, locality, city, listing_url]
Index: []

In [58]:
df['price_num'].dtype

dtype('float64')

### Validating 'bhk_number' column

In [59]:
df['bhk_number'].sample(10)

2459    1.0
2665    1.0
347     3.0
1503    2.0
315     3.0
1687    2.0
2471    3.0
843     3.0
26      1.0
1483    2.0
Name: bhk_number, dtype: float64

In [60]:
print(df['bhk_number'].isna().sum())

16

In [61]:
bhk_na = df[df['bhk_number'].isna()]
bhk_na

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
2,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Dhankawadi, Pune",NaN,Super Area 400 sqft,400.0,Dhankawadi,Pune,https://www.magicbricks.com/propertyDetails/40...
106,₹ 3 Lac,300000.0,"Studio Apartment for Sale in Wadgaon Sheri, Pune",NaN,Carpet Area 200 sqft,200.0,Wadgaon Sheri,Pune,https://www.magicbricks.com/bramha-corp-smart-...
178,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Bibwewadi, Pune",NaN,Super Area 375 sqft,375.0,Bibwewadi,Pune,https://www.magicbricks.com/propertyDetails/37...
192,₹ 18 Lac,1800000.0,"Studio Apartment for Sale in Fursungi, Pune",NaN,Super Area 398 sqft,398.0,Fursungi,Pune,https://www.magicbricks.com/sanjuda-complex-ph...
325,₹ 27 Lac,2700000.0,"Studio Apartment for Sale in Aundh, Pune",NaN,Super Area 368 sqft,368.0,Aundh,Pune,https://www.magicbricks.com/propertyDetails/36...
592,₹ 18 Lac,1800000.0,"Studio Apartment for Sale in Kamshet Gaothan, ...",NaN,Super Area 495 sqft,495.0,Kamshet Gaothan,Pune,https://www.magicbricks.com/propertyDetails/49...
607,₹ 13.5 Lac,1350000.0,"Studio Apartment for Sale in Talegaon Dabhade,...",NaN,Super Area 350 sqft,350.0,Talegaon Dabhade,Pune,https://www.magicbricks.com/propertyDetails/35...
1191,₹ 12 Lac,1200000.0,Studio Apartment for Sale in Keshav Nagar Mund...,NaN,Super Area 281 sqft,281.0,Keshav Nagar Mundhwa,Pune,https://www.magicbricks.com/propertyDetails/28...
1301,₹ 13 Lac,1300000.0,"Studio Apartment for Sale in Vadgaon, Pune",NaN,Super Area 330 sqft,330.0,Vadgaon,Pune,https://www.magicbricks.com/propertyDetails/33...
1570,₹ 63.2 Lac,6320000.0,"Studio Apartment for Sale in Viman Nagar, Pune",NaN,Carpet Area 406 sqft,406.0,Viman Nagar,Pune,https://www.magicbricks.com/horizon-neon-viman...
1571,₹ 53.5 Lac,5350000.0,"Studio Apartment for Sale in Viman Nagar, Pune",NaN,Carpet Area 337 sqft,337.0,Viman Nagar,Pune,https://www.magicbricks.com/horizon-neon-viman...
2101,₹ 17 Lac,1700000.0,"Studio Apartment for Sale in Chakan, Pune",NaN,Super Area 250 sqft,250.0,Chakan,Pune,https://www.magicbricks.com/eiffel-city-chakan...
2590,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Hinjawadi, Pune",NaN,Super Area 180 sqft,180.0,Hinjawadi,Pune,https://www.magicbricks.com/propertyDetails/18...
2728,₹ 94.5 Lac,9450000.0,"Apartment for Sale in Wanowrie, Pune",NaN,Super Area 1040 sqft,1040.0,Wanowrie,Pune,https://www.magicbricks.com/propertyDetails/10...
2880,₹ 8 Lac,800000.0,"Studio Apartment for Sale in Hadapsar, Pune",NaN,Super Area 300 sqft,300.0,Hadapsar,Pune,https://www.magicbricks.com/propertyDetails/30...
2883,₹ 55 Lac,5500000.0,Studio Apartment for Sale in Amanora Park Town...,NaN,Carpet Area 448 sqft,448.0,Amanora Park Town,Pune,https://www.magicbricks.com/amanora-adreno-tow...

In [62]:
# Converting Nan to 1
mask_studio = df['bhk_raw'].str.contains("Studio Apartment", case=False, na=False)
df.loc[mask_studio, 'bhk_number'] = 1

In [63]:
bhk_na = df[df['bhk_number'].isna()]
bhk_na

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
2728,₹ 94.5 Lac,9450000.0,"Apartment for Sale in Wanowrie, Pune",NaN,Super Area 1040 sqft,1040.0,Wanowrie,Pune,https://www.magicbricks.com/propertyDetails/10...

In [64]:
#inspect this 
df.loc[2728]

price_raw                                             ₹ 94.5 Lac
price_num                                              9450000.0
bhk_raw                     Apartment for Sale in Wanowrie, Pune
bhk_number                                                   NaN
area_raw                                    Super Area 1040 sqft
area_sqft                                                 1040.0
locality                                                Wanowrie
city                                                        Pune
listing_url    https://www.magicbricks.com/propertyDetails/10...
Name: 2728, dtype: object

In [65]:
# Drop this we could not infer what will be the bhk
df = df.dropna(subset=['bhk_number'])

In [66]:
df[df['bhk_number'].isna()]

Empty DataFrame
Columns: [price_raw, price_num, bhk_raw, bhk_number, area_raw, area_sqft, locality, city, listing_url]
Index: []