### This notebook contains all the cleaning operations done on parsed dataset

In [1]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/parsed/pune/listings_cleaned.csv")

In [3]:
df.head()

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
0,₹ 65 Lac,6500000.0,"2 BHK Flat for Sale in Dhanori, Pune",2.0,Carpet Area 834 sqft,834.0,Dhanori,Pune,https://www.magicbricks.com/bramha-sky-city-ph...
1,₹ 70 Lac,7000000.0,"2 BHK Flat for Sale in Ravet, Pimpri Chinchwad...",2.0,Carpet Area 800 sqft,800.0,Ravet,Pune,https://www.magicbricks.com/lotus-laxmi-ravet-...
2,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Dhankawadi, Pune",NaN,Super Area 400 sqft,400.0,Dhankawadi,Pune,https://www.magicbricks.com/propertyDetails/40...
3,₹ 1.35 Cr,13500000.0,"3 BHK Flat for Sale in Bhugaon, Bavdhan, Pune",3.0,Carpet Area 1160 sqft,1160.0,Bhugaon,Pune,https://www.magicbricks.com/propertyDetails/3-...
4,₹ 50 Lac,5000000.0,"2 BHK Flat for Sale in Tingre Nagar, Pune",2.0,Carpet Area 715 sqft,715.0,Tingre Nagar,Pune,https://www.magicbricks.com/choice-group-goodw...

### Detecting and removing duplicates

In [5]:
# List Columns
df.columns.tolist()

['price_raw',
 'price_num',
 'bhk_raw',
 'bhk_number',
 'area_raw',
 'area_sqft',
 'locality',
 'city',
 'listing_url']

In [11]:
print("Before length:", len(df))

Before length: 3000

In [28]:
# Columns based on we are going to look up
dup_cols = ['listing_url', 'price_num', 'area_sqft']

duplicates = df[df.duplicated(subset=dup_cols, keep='first')].sort_values(by=dup_cols)

# Display how many duplicates found
print("Duplicate rows found:", duplicates.shape[0])
print(duplicates.head())

Duplicate rows found: 82
      price_raw   price_num  \
2826   ₹ 42 Lac   4200000.0
314   ₹ 2.42 Cr  24200000.0
308   ₹ 2.62 Cr  26200000.0
307   ₹ 2.85 Cr  28500000.0
1520  ₹ 3.50 Cr  35000000.0

                                                bhk_raw  bhk_number  \
2826                2 BHK Flat for Sale in Katraj, Pune         2.0
314      3 BHK Flat for Sale in Amanora Park Town, Pune         3.0
308      3 BHK Flat for Sale in Amanora Park Town, Pune         3.0
307      3 BHK Flat for Sale in Amanora Park Town, Pune         3.0
1520  3 BHK Flat for Sale in Sahakar Nagar Parvati P...         3.0

                   area_raw  area_sqft                      locality  city  \
2826    Super Area 881 sqft      881.0                        Katraj  Pune
314   Carpet Area 1232 sqft     1232.0             Amanora Park Town  Pune
308   Carpet Area 1340 sqft     1340.0             Amanora Park Town  Pune
307   Carpet Area 1460 sqft     1460.0             Amanora Park Town  Pune
1520  Carpet Area 1610 sqft     1610.0  Sahakar Nagar Parvati Paytha  Pune

                                            listing_url
2826  https://www.magicbricks.com/acme-arcadia-katra...
314   https://www.magicbricks.com/amanora-gateway-to...
308   https://www.magicbricks.com/amanora-gateway-to...
307   https://www.magicbricks.com/amanora-gateway-to...
1520  https://www.magicbricks.com/amits-montecito-sa...

In [29]:
# Save duplicates to file
duplicates.to_csv("../../data/logs/duplicates_removed.csv", index=False)
print("Saved duplicate rows to logs/duplicates_removed.csv")

Saved duplicate rows to logs/duplicates_removed.csv

In [30]:
# Drop duplicates
df_cleaned = df.drop_duplicates(subset=dup_cols, keep='first')
print("Rows after duplicate removal:", df_cleaned.shape[0])

Rows after duplicate removal: 2918

In [ ]:
#Saving to new file
df_cleaned.to_csv("../data/parsed/pune/unique_listing.csv", index=False)

### Handling 'call For price'

In [ ]:
# Change dataframe first to our newly created csv
df = pd.read_csv("../data/parsed/pune/unique_listing.csv")

In [41]:
df['price_raw'].sample(20)

2662          ₹ 15 Lac
819           ₹ 80 Lac
1019    Call for Price
802         ₹ 78.7 Lac
6            ₹ 1.20 Cr
2312         ₹ 3.60 Cr
1214          ₹ 78 Lac
140           ₹ 99 Lac
279          ₹ 2.42 Cr
1804          ₹ 25 Lac
2542         ₹ 2.50 Cr
1391          ₹ 52 Lac
386           ₹ 53 Lac
613          ₹ 2.88 Cr
817           ₹ 72 Lac
2614        ₹ 71.5 Lac
783           ₹ 50 Lac
1964         ₹ 1.14 Cr
226           ₹ 15 Lac
228          ₹ 2.11 Cr
Name: price_raw, dtype: object

In [42]:
# mask for call for price
mask_call_for_price = df['price_raw'].str.lower().str.contains("call for price", na=False)
df[mask_call_for_price].head()

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
54,Call for Price,NaN,"1 BHK Flat for Sale in Manjari BK, Pune",1.0,Carpet Area 450 sqft,450.0,Manjari BK,Pune,https://www.magicbricks.com/gemini-grand-bay-m...
57,Call for Price,NaN,"3 BHK Flat for Sale in Baner, Pune",3.0,Carpet Area 1213 sqft,1213.0,Baner,Pune,https://www.magicbricks.com/nyati-emerald-bane...
73,Call for Price,NaN,1 BHK Flat for Sale in Bhairavnath Nagar Kirka...,1.0,NaN,NaN,Bhairavnath Nagar Kirkatwadi,Pune,https://www.magicbricks.com/propertyDetails/1-...
91,Call for Price,NaN,"Apartment for Sale in Shivane, Pune",NaN,Super Area 632 sqft,632.0,Shivane,Pune,https://www.magicbricks.com/bhagwant-rahi-resi...
118,Call for Price,NaN,"1 BHK Flat for Sale in Balewadi, Pune",1.0,Carpet Area 491 sqft,491.0,Balewadi,Pune,https://www.magicbricks.com/avishkar-pavilion-...

In [43]:
print("Rows with 'Call for Price':", mask_call_for_price.sum())

Rows with 'Call for Price': 92

In [44]:
# Save to file
df[mask_call_for_price].to_csv("../../data/logs/call_for_price_removed.csv", index=False)

In [20]:
# Drop "Call for price rows"
df = df[~df['price_raw'].str.lower().str.contains("call for price", na=False)]

In [23]:
print((df['price_raw'].str.lower().str.contains("call for price", na=False)).sum())
df.to_csv("../data/parsed/pune/unique_listing.csv", index=False)

0

### Validating 'price_num' column

In [ ]:
#listing out samples
df['price_num'].sample(20)

1102     4800000.0
2117    12000000.0
2806     7100000.0
1202     9370000.0
1161     6700000.0
1153     8370000.0
580     20900000.0
315     22500000.0
2761     8960000.0
1952    47400000.0
1142    10700000.0
2190     5660000.0
793      4200000.0
2291    10000000.0
740     24000000.0
2239    10500000.0
1554    20800000.0
2874     2200000.0
1870    15200000.0
789      6800000.0
Name: price_num, dtype: float64

In [54]:
#finding null values
print(df['price_num'].isna().sum())

0

In [56]:
# are there any negative values
df[df['price_num'] <= 0]

Empty DataFrame
Columns: [price_raw, price_num, bhk_raw, bhk_number, area_raw, area_sqft, locality, city, listing_url]
Index: []

In [58]:
df['price_num'].dtype

dtype('float64')

### Validating 'bhk_number' column

In [59]:
df['bhk_number'].sample(10)

2459    1.0
2665    1.0
347     3.0
1503    2.0
315     3.0
1687    2.0
2471    3.0
843     3.0
26      1.0
1483    2.0
Name: bhk_number, dtype: float64

In [60]:
print(df['bhk_number'].isna().sum())

16

In [25]:
bhk_na = df[df['bhk_number'].isna()]
bhk_na

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
2,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Dhankawadi, Pune",NaN,Super Area 400 sqft,400.0,Dhankawadi,Pune,https://www.magicbricks.com/propertyDetails/40...
102,₹ 3 Lac,300000.0,"Studio Apartment for Sale in Wadgaon Sheri, Pune",NaN,Carpet Area 200 sqft,200.0,Wadgaon Sheri,Pune,https://www.magicbricks.com/bramha-corp-smart-...
171,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Bibwewadi, Pune",NaN,Super Area 375 sqft,375.0,Bibwewadi,Pune,https://www.magicbricks.com/propertyDetails/37...
184,₹ 18 Lac,1800000.0,"Studio Apartment for Sale in Fursungi, Pune",NaN,Super Area 398 sqft,398.0,Fursungi,Pune,https://www.magicbricks.com/sanjuda-complex-ph...
311,₹ 27 Lac,2700000.0,"Studio Apartment for Sale in Aundh, Pune",NaN,Super Area 368 sqft,368.0,Aundh,Pune,https://www.magicbricks.com/propertyDetails/36...
568,₹ 18 Lac,1800000.0,"Studio Apartment for Sale in Kamshet Gaothan, ...",NaN,Super Area 495 sqft,495.0,Kamshet Gaothan,Pune,https://www.magicbricks.com/propertyDetails/49...
583,₹ 13.5 Lac,1350000.0,"Studio Apartment for Sale in Talegaon Dabhade,...",NaN,Super Area 350 sqft,350.0,Talegaon Dabhade,Pune,https://www.magicbricks.com/propertyDetails/35...
1128,₹ 12 Lac,1200000.0,Studio Apartment for Sale in Keshav Nagar Mund...,NaN,Super Area 281 sqft,281.0,Keshav Nagar Mundhwa,Pune,https://www.magicbricks.com/propertyDetails/28...
1234,₹ 13 Lac,1300000.0,"Studio Apartment for Sale in Vadgaon, Pune",NaN,Super Area 330 sqft,330.0,Vadgaon,Pune,https://www.magicbricks.com/propertyDetails/33...
1486,₹ 63.2 Lac,6320000.0,"Studio Apartment for Sale in Viman Nagar, Pune",NaN,Carpet Area 406 sqft,406.0,Viman Nagar,Pune,https://www.magicbricks.com/horizon-neon-viman...
1487,₹ 53.5 Lac,5350000.0,"Studio Apartment for Sale in Viman Nagar, Pune",NaN,Carpet Area 337 sqft,337.0,Viman Nagar,Pune,https://www.magicbricks.com/horizon-neon-viman...
1983,₹ 17 Lac,1700000.0,"Studio Apartment for Sale in Chakan, Pune",NaN,Super Area 250 sqft,250.0,Chakan,Pune,https://www.magicbricks.com/eiffel-city-chakan...
2442,₹ 25 Lac,2500000.0,"Studio Apartment for Sale in Hinjawadi, Pune",NaN,Super Area 180 sqft,180.0,Hinjawadi,Pune,https://www.magicbricks.com/propertyDetails/18...
2576,₹ 94.5 Lac,9450000.0,"Apartment for Sale in Wanowrie, Pune",NaN,Super Area 1040 sqft,1040.0,Wanowrie,Pune,https://www.magicbricks.com/propertyDetails/10...
2721,₹ 8 Lac,800000.0,"Studio Apartment for Sale in Hadapsar, Pune",NaN,Super Area 300 sqft,300.0,Hadapsar,Pune,https://www.magicbricks.com/propertyDetails/30...
2724,₹ 55 Lac,5500000.0,Studio Apartment for Sale in Amanora Park Town...,NaN,Carpet Area 448 sqft,448.0,Amanora Park Town,Pune,https://www.magicbricks.com/amanora-adreno-tow...

In [26]:
# Converting Nan to 1
mask_studio = df['bhk_raw'].str.contains("Studio Apartment", case=False, na=False)
df.loc[mask_studio, 'bhk_number'] = 1

In [27]:
bhk_na = df[df['bhk_number'].isna()]
bhk_na

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
2576,₹ 94.5 Lac,9450000.0,"Apartment for Sale in Wanowrie, Pune",NaN,Super Area 1040 sqft,1040.0,Wanowrie,Pune,https://www.magicbricks.com/propertyDetails/10...

In [29]:
#inspect this 
df.loc[2576]

price_raw                                             ₹ 94.5 Lac
price_num                                              9450000.0
bhk_raw                     Apartment for Sale in Wanowrie, Pune
bhk_number                                                   NaN
area_raw                                    Super Area 1040 sqft
area_sqft                                                 1040.0
locality                                                Wanowrie
city                                                        Pune
listing_url    https://www.magicbricks.com/propertyDetails/10...
Name: 2576, dtype: object

In [30]:
# Drop this we could not infer what will be the bhk
df = df.dropna(subset=['bhk_number'])

In [31]:
df[df['bhk_number'].isna()]

Empty DataFrame
Columns: [price_raw, price_num, bhk_raw, bhk_number, area_raw, area_sqft, locality, city, listing_url]
Index: []

In [32]:
#Save to csv
df.to_csv("../data/parsed/pune/unique_listing.csv", index=False)

In [ ]:
import pandas as pd

In [33]:
df = pd.read_csv("../data/parsed/pune/unique_listing.csv")
df.columns

Index(['price_raw', 'price_num', 'bhk_raw', 'bhk_number', 'area_raw',
       'area_sqft', 'locality', 'city', 'listing_url'],
      dtype='object')

### 'bhk_raw' column analysis

In [34]:
df['bhk_raw'].sample(10)

2772             3 BHK Flat for Sale in Ubale Nagar, Pune
1555           2 BHK Flat for Sale in Punvale Bazar, Pune
2023    2 BHK Flat for Sale in Chinchwad, Pimpri Chinc...
2348                          1 BHK Flat for Sale in Pune
563            1 BHK Flat for Sale in Kalyani Nagar, Pune
56         2 BHK Flat for Sale in New Kalyani Nagar, Pune
2808           2 BHK Flat for Sale in Manjari Khurd, Pune
2679        4 BHK Flat for Sale in Anand Park Aundh, Pune
1809                 3 BHK Flat for Sale in Kharadi, Pune
1658               2 BHK Flat for Sale in Hinjawadi, Pune
Name: bhk_raw, dtype: object

In [35]:
df['bhk_raw'].isna().sum()

np.int64(0)

### Cleaning of Area columns (area_raw → area_sqft)

In [36]:
df['area_raw'].sample(10)

1506     Carpet Area 250 sqft
1316    Carpet Area 1027 sqft
42      Carpet Area 1091 sqft
220       Super Area 600 sqft
938     Carpet Area 1200 sqft
1278     Carpet Area 625 sqft
1371    Carpet Area 2640 sqft
1554     Carpet Area 728 sqft
1573      Super Area 570 sqft
1194    Carpet Area 1325 sqft
Name: area_raw, dtype: object

In [41]:
df['area_raw'].isna().sum()

np.int64(0)

In [43]:
df['area_sqft'].sample(10)

1257    1600.0
1709     636.0
1461    1703.0
1313    2250.0
2733     684.0
1351     447.0
741      842.0
1994    1215.0
2477     697.0
777     1221.0
Name: area_sqft, dtype: float64

In [52]:
df['area_sqft'].isna().sum()

np.int64(0)

In [45]:
mask = df['area_sqft'] < 100
print(df[mask])

      price_raw   price_num  \
236    ₹ 45 Lac   4500000.0
501    ₹ 80 Lac   8000000.0
2098   ₹ 80 Lac   8000000.0
2401  ₹ 1.60 Cr  16000000.0
2766   ₹ 75 Lac   7500000.0

                                                bhk_raw  bhk_number  \
236              1 BHK Flat for Sale in NIBM Road, Pune         1.0
501   2 BHK Flat for Sale in Balewadi Gaon, Balewadi...         2.0
2098             2 BHK Flat for Sale in Hinjawadi, Pune         2.0
2401          3 BHK Flat for Sale in Tajane Wasti, Pune         3.0
2766                 2 BHK Flat for Sale in Undri, Pune         2.0

                 area_raw  area_sqft       locality  city  \
236   Carpet Area 55 sqft       55.0      NIBM Road  Pune
501    Carpet Area 70 sqm       70.0  Balewadi Gaon  Pune
2098    Super Area 60 sqm       60.0      Hinjawadi  Pune
2401   Carpet Area 90 sqm       90.0   Tajane Wasti  Pune
2766   Carpet Area 45 sqm       45.0          Undri  Pune

                                            listing_url
236   https://www.magicbricks.com/sunshree-society-n...
501   https://www.magicbricks.com/propertyDetails/2-...
2098  https://www.magicbricks.com/shapoorji-pallonji...
2401  https://www.magicbricks.com/rahul-downtown-taj...
2766  https://www.magicbricks.com/godrej-greens-undr...

In [46]:
# 2. Identify rows with sq meter units (sqm, sq m, m2, m²)
sqm_mask = df['area_raw'].str.contains(r'sqm|sq m|sq\.m|m2|m²', case=False, na=False)
print(df[sqm_mask])

      price_raw   price_num  \
51    ₹ 3.08 Cr  30800000.0
501    ₹ 80 Lac   8000000.0
2090  ₹ 2.25 Cr  22500000.0
2098   ₹ 80 Lac   8000000.0
2401  ₹ 1.60 Cr  16000000.0
2766   ₹ 75 Lac   7500000.0

                                                bhk_raw  bhk_number  \
51                4 BHK Flat for Sale in Balewadi, Pune         4.0
501   2 BHK Flat for Sale in Balewadi Gaon, Balewadi...         2.0
2090              3 BHK Flat for Sale in Balewadi, Pune         3.0
2098             2 BHK Flat for Sale in Hinjawadi, Pune         2.0
2401          3 BHK Flat for Sale in Tajane Wasti, Pune         3.0
2766                 2 BHK Flat for Sale in Undri, Pune         2.0

                 area_raw  area_sqft       locality  city  \
51    Carpet Area 150 sqm      150.0       Balewadi  Pune
501    Carpet Area 70 sqm       70.0  Balewadi Gaon  Pune
2090  Carpet Area 110 sqm      110.0       Balewadi  Pune
2098    Super Area 60 sqm       60.0      Hinjawadi  Pune
2401   Carpet Area 90 sqm       90.0   Tajane Wasti  Pune
2766   Carpet Area 45 sqm       45.0          Undri  Pune

                                            listing_url
51    https://www.magicbricks.com/the-balmoral-river...
501   https://www.magicbricks.com/propertyDetails/2-...
2090  https://www.magicbricks.com/the-balmoral-river...
2098  https://www.magicbricks.com/shapoorji-pallonji...
2401  https://www.magicbricks.com/rahul-downtown-taj...
2766  https://www.magicbricks.com/godrej-greens-undr...

In [48]:
# 3. Convert sqm → sqft
df.loc[sqm_mask, 'area_sqft'] = df.loc[sqm_mask, 'area_sqft'] * 10.7639

In [49]:
print(df[sqm_mask])

      price_raw   price_num  \
51    ₹ 3.08 Cr  30800000.0
501    ₹ 80 Lac   8000000.0
2090  ₹ 2.25 Cr  22500000.0
2098   ₹ 80 Lac   8000000.0
2401  ₹ 1.60 Cr  16000000.0
2766   ₹ 75 Lac   7500000.0

                                                bhk_raw  bhk_number  \
51                4 BHK Flat for Sale in Balewadi, Pune         4.0
501   2 BHK Flat for Sale in Balewadi Gaon, Balewadi...         2.0
2090              3 BHK Flat for Sale in Balewadi, Pune         3.0
2098             2 BHK Flat for Sale in Hinjawadi, Pune         2.0
2401          3 BHK Flat for Sale in Tajane Wasti, Pune         3.0
2766                 2 BHK Flat for Sale in Undri, Pune         2.0

                 area_raw  area_sqft       locality  city  \
51    Carpet Area 150 sqm  1614.5850       Balewadi  Pune
501    Carpet Area 70 sqm   753.4730  Balewadi Gaon  Pune
2090  Carpet Area 110 sqm  1184.0290       Balewadi  Pune
2098    Super Area 60 sqm   645.8340      Hinjawadi  Pune
2401   Carpet Area 90 sqm   968.7510   Tajane Wasti  Pune
2766   Carpet Area 45 sqm   484.3755          Undri  Pune

                                            listing_url
51    https://www.magicbricks.com/the-balmoral-river...
501   https://www.magicbricks.com/propertyDetails/2-...
2090  https://www.magicbricks.com/the-balmoral-river...
2098  https://www.magicbricks.com/shapoorji-pallonji...
2401  https://www.magicbricks.com/rahul-downtown-taj...
2766  https://www.magicbricks.com/godrej-greens-undr...

In [50]:
df.loc[df['area_sqft'] < 100]

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
236,₹ 45 Lac,4500000.0,"1 BHK Flat for Sale in NIBM Road, Pune",1.0,Carpet Area 55 sqft,55.0,NIBM Road,Pune,https://www.magicbricks.com/sunshree-society-n...

In [51]:
df.loc[df['area_sqft'] > 20000]

,price_raw,price_num,bhk_raw,bhk_number,area_raw,area_sqft,locality,city,listing_url
2045,₹ 6.40 Cr,64000000.0,"4 BHK Flat for Sale in Yerawada, Airport Road,...",4.0,Carpet Area 22000 sqft,22000.0,Yerawada,Pune,https://www.magicbricks.com/bluegrass-business...

In [60]:
# Save to csv
df.to_csv("../data/parsed/pune/unique_listing.csv", index=False)

### Locality cleaning

In [54]:
df['locality'].describe()

count        2829
unique        383
top       Wagholi
freq          151
Name: locality, dtype: object

In [55]:
df['locality'].sample(10)

887                 Kesnand
273     Shindenagar Bavdhan
2137                Bhugaon
2625              Hinjawadi
2050          Uruli Kanchan
2332                Wagholi
2136                Bhugaon
671                   Wakad
1096              Erandwane
1123                Wagholi
Name: locality, dtype: object

In [64]:
print(df['locality'].isna().sum())

0

In [56]:
# Basic cleaning of text

#  Strip spaces
df['locality'] = df['locality'].str.strip()

#  Title case
df['locality'] = df['locality'].str.title()

In [57]:
df['locality'].sample(5)

1815                 Wagholi
1081    Patil Nagar Balewadi
2067                Ambegaon
1743                Punawale
718                   Chakan
Name: locality, dtype: object

In [65]:
localities = df['locality'].unique()
print(localities)

['Dhanori' 'Ravet' 'Dhankawadi' 'Bhugaon' 'Tingre Nagar' 'Chakan'
 'Hinjawadi' 'Dighi' 'Bhukum' 'Manjri' 'Wagholi' 'Salisbury Park'
 'Nibm Road' 'Pune' 'Balewadi' 'Hadapsar' 'Sainagar Kondhwa Budruk'
 'Wakad' 'Viman Nagar' 'Rasta Peth' 'Sangvi' 'Dattawadi' 'Moshi'
 'Kolhewadi' 'Tilekar Nagar' 'Pimple Saudagar' 'Kharadi' 'Kanhe' 'Katraj'
 'Pimple Nilakh' 'Shivajinagar' 'Pisoli' 'Akurdi' 'Kondhwa' 'Sanaswadi'
 'New Kalyani Nagar' 'Baner' 'Pirangut' 'Bibwewadi' 'Pimpri Chinchwad'
 'Eon Free Zone' 'Bavdhan' 'Pashan Sus Road'
 'Phase 3 Hinjewadi Rajiv Gandhi Infotech Park' 'Ambegaon' 'Benkar Nagar'
 'Wadgaon Sheri' 'Warje' 'Alandi' 'Khed Shivapur Kondanpur Road'
 'Satara Road' 'Keshav Nagar Chinchwad' 'Mundhwa' 'Magarpatta'
 'Hanuman Nagar Keshav Nagar' 'Thite Nagar' 'Nandoshi Road'
 'Samarth Colony Baner' 'Veerbhadra Nagar' 'Punawale' 'Lohegaon' 'Kothrud'
 'Nigdi' 'Charholi Bk' 'Ghorpadi' 'Mahalunge' 'Talegaon Dabhade'
 'Kalyani Nagar' 'Wanwadi' 'Baner Gaon' 'Nagar Road' 'Handewadi'
 'Ambegaon Pathar' 'Fursungi' 'Rakshak Nagar' 'Thergaon' 'Undri'
 'Baner Pashan Link Road' 'Manjari Khurd' 'Rahatani' 'Katraj Kondhwa Road'
 'Aundh' 'Ambegaon Bk' 'Keshav Nagar Mundhwa' 'Sasane Colony' 'Bopodi'
 'Koregaon Park' 'Patil Nagar Balewadi' 'Walhekarwadi'
 'Shankar Kalat Nagar' 'Anjani Nagar' 'Bhavani Peth' 'Happy Colony'
 'Shatrunjay Nagar' 'Model Colony' 'Ganesh Nagar Chikhali'
 'Chikhali Pimpri Chinchwad' 'Kondhawe Dhawade' 'Amanora Park Town'
 'Shindenagar Bavdhan' 'Dhayari' 'Kharabwadi' 'Sus' 'Shitala Devi Nagar'
 'Mohamadwadi Settlement' 'Padmavati Nagar' 'Kondhwa Bk'
 'Phase 2 Hinjewadi Rajiv Gandhi Infotech Park' 'Narhe' 'Law College Road'
 'Pashan' 'Hingane Mala' 'Vishrantwadi' 'Vidyasagar Colony Gultekadi'
 'Kesnand Road' 'Mamurdi' 'Kiwale' 'Sopan Baug' 'Laxman Nagar Baner'
 'Bhosale Nagar' 'Jadhav Wadi Chikhali' 'Vadgaon' 'Chinchwad'
 'Guruwar Peth' 'Kolwadi' 'Gurudatta Nagar Phursungi' 'Bellagio'
 'Phase 1 Hinjewadi Rajiv Gandhi Infotech Park' 'Rambaug Colony'
 'Sinhgad Road' 'Tathawade Pimpri Chinchwad' 'Paud' 'Old Sangvi'
 'Hadapsar Gaon' 'Anand Park Nagar' 'Lullanagar' 'Santosh Nagar'
 'Koregaon Bhima' 'Dorabjee Paradise' 'Balaji Nagar' 'Chandan Nagar'
 'Ambegaon Pathar Road' 'Camp' 'Budhwar Peth' 'Balewadi Gaon'
 'N Main Road' 'Bibwewadi Kondhwa Road' 'Salunke Vihar Road'
 'Bhoslenagar Ashok Nagar' 'Ram Nagar Baner' 'Marunji Road'
 'Sadashiv Peth' 'Gahunje' 'Bhagwan Tatyasaheb Kawade Road' 'Wadki'
 'Boat Club Road' 'Sangamvadi' 'Samarth Nagar Dighi'
 'Koregaon Park Annexe' 'Saswad' 'Manjari Bk' 'Kamshet Gaothan' 'Marunji'
 'Wanowrie' 'Somwar Peth' 'Anand Nagar' 'Giridhar Nagar' 'Pimpri'
 'Baner Chs' 'Yerawada' 'Anand Tirth Nagar' 'Market Yard'
 'Shivaji Nagar Deccan Gymkhana' 'Kalewadi Pimpri Chinchwad' 'Bhosari'
 'Narayan Peth' 'Kaspate Wasti' 'Nda Road' 'Khed Shivapur'
 'Dahanukar Colony' 'Suraksha Nagar' 'Loni Kalbhor' 'Handewadi Road'
 'Balewadi Phata' 'Pune Nashik Highway' 'Krantiveer Nagar' 'Kharadi Gaon'
 'Vaidehi Enclave' 'Maan' 'Nibm Annexe Area' 'Wadachi Wadi'
 'Hinjewadi Rajiv Gandhi Infotech Park' 'Hadapsar Industrial Estate'
 'Prabhat Road' 'Mahadev Wadi Mohammed Wadi' 'Adarsh Colony Tingre Nagar'
 'Sopan Baug Society' 'Pune Satara Road' 'Urawade' 'Vadgaon Bk'
 'Tulaja Bhawani Nagar' 'Sector R3 Amanora Park Town' 'Papde Wasti'
 'Salunkhe Vihar Society' 'Pimple Gurav' 'Dudulgaon' 'Kesnand'
 'Sainath Nagar Wadgaon Sheri' 'Chikhali' 'Hole Vasti' 'Dange Chowk Road'
 'Vadgaon Khurd' 'Bhumkar Nagar Wakad' 'Sahajanand Society'
 'Someshwarwadi' 'Pune Ahmednagar Highway' 'Karve Road'
 'Songbirds Society' 'Shivneri Nagar' 'Shirwal' 'Kalewadi Rahatani'
 'Bhusari Colony' 'Chavan Bagh' 'Balkrishna Sakharam Dhole Patil Road'
 'Dhanori Lohegaon Road' 'Laxmi Nagar Balewadi' 'Badharivishal Society'
 'Shastrinagar Yerawada' 'Ganesh Nagar Karve Nagar' 'Pan Card Club Road'
 'Karvenagar' 'Ambedkar Nagar Kondhwa' 'Punvale Bazar' 'Erandwane'
 'Sutarwadi' 'Aundh Gaon' 'Ubale Nagar' 'Baner Highway Side Rd'
 'Datta Mandir Road' 'Wadmukhwadi' 'Sahakar Nagar Parvati Paytha'
 'Munjaba Vasti' 'Tyni Audyogic Wasahat' 'Uruli Devachi'
 'Mohan Nagar Co Operative Society' 'Kalwad' 'Jambhe' 'Malwadi'
 'Moshi Gaon' 'Fatima Nagar Wanowrie' 'Chovisawadi' 'Shahunagar'
 'Swapna Nagari' 'Kadam Wasti Loni Kalbhor' 'Mohammed Wadi' 'New Sanghavi'
 'Wadgaon Bk' 'Wadgaon Sheri Road' 'Somatne Phata'
 'Varale Talegaon Dabhade' 'Joggers Park' 'Baner Road' 'Kamshet'
 'Sadhu Vasvani Nagar' 'Ideal Colony' 'Vishal Nagar' 'Uttareshwar Nagar'
 'Wakad Road' 'Shukrawar Peth' 'Chandani Chowk' 'Sindh Society' 'Jambhul'
 'Bakori Road' 'Kolte Patil' 'Kale Padal' 'Satav Nagar'
 'Mayur Colony Kothrud' 'Mokai Vasti' 'Bund Garden' 'Dhayari Phata Road'
 'Ashok Nagar Tathawade' 'Phulgaon' 'Talwade' 'Maval' 'Kirkatwadi'
 'Phase 2 Magarpatta' 'Nana Nagar' 'Uday Baug' 'Sasane Nagar'
 'Medankarwadi' 'Khadakwasla' 'Yewalewadi' 'Bhumkar Nagar Narhe'
 'Azad Nagar Wanowrie' 'Khadki' 'Moshi Alandi Road' 'Kedari Nagar Wanwadi'
 'Paud Road' 'Choudhary Park Shankar Kalat Nagar'
 'Vishnu Dev Nagar Punawale'
 'Shinde Nagar Hinjewadi Rajiv Gandhi Infotech Park' 'Vatan Nagar'
 'Vakil Nagar' 'Shivaji Market' 'Senapati Bapat Road'
 'Dangat Patil Nagar Shivane' 'Pandurang Industrial Area' 'Alandi Road'
 'Somnath Nagar Wadgaon Sheri' 'Ganesh Peth' 'Marigold Complex' 'Nere'
 'Alandi Devachi' 'Dhanvantari Colony' 'Talegaon Dhamdhere' 'Manjri Bk'
 'Ekbote Colony' 'Hills And Dales' 'Baner Mahalunge Road' 'Saibaba Nagar'
 'Gadital' 'Mukund Nagar' 'Clover Park View' 'Porwal Road' 'Shewalewadi'
 'Uruli Kanchan' 'Meeta Nagar' 'Borade Vasti' 'Patil Nagar Bavdhan'
 'Mahadev Nagar Dhayari' 'Madhav Nagar' 'Pandhari Nagar Handewadi'
 'Sant Nagar Parvati Paytha' 'Adarsh Nagar Kiwale' 'Somatane' 'Spine Road'
 'Bhairav Nagar' 'Beeramguda Ramachandrapuram' 'Atur Nagar' 'Kivale'
 'Vitthalwadi Hingne Khurd' 'Phurasungi Bhekarainagar Road'
 'Hinjawadi Village' 'Dapodi' 'Wadebolai' 'Mohan Nagar Dhankawadi'
 'Swami Vivekanand Nagar Wakad' 'New Nana Peth' 'Nanded' 'Patwardhan Baug'
 'Baif Road' 'Kasarwadi' 'Sanewadi' 'Dandekar Pool'
 'Vitthal Nagar Kharadi' 'Mahadev Nagar Wadgaon Sheri' 'Tajane Wasti'
 'Konark Nagar' 'Dp Road' 'Raikar Mala Road' 'Kad Nagar' 'Ambi'
 'Dagadu Patel Nagar' 'Sahakar Nagar 2' 'Dudhane Nagar' 'Ranjangaon'
 'Darekarwadi' 'Rao Colony Talegaon Dabhade' 'Ashoka Nagar'
 'Yashwantrao Chavan Nagar' 'Phase 2 Hinjawadi' 'Shani Nagar'
 'Anand Park Aundh' 'Mumbai Pune Expressway'
 'Yashwant Nagar Talegaon Dabhade' 'Bhor' 'Kasba Peth'
 'Pawar Nagar Thergaon' 'Chinchwad Gaon' 'Siddheshwar Nagar'
 'Sheela Vihar Colony' 'Narhe Road' 'Gopalpatti']

### Clean 'city' column

In [ ]:
# Data is of One city so city is same for all
df['city'].describe()

count     2829
unique       1
top       Pune
freq      2829
Name: city, dtype: object

In [100]:
# Create price per sqft
df['price_per_sqft'] = df['price_num'] / df['area_sqft']

In [101]:
df = df[['price_num', 'bhk_number', 'area_sqft', 'price_per_sqft',
         'locality', 'city', 'listing_url']]

In [ ]:
# Save result
df.to_csv("../data/parsed/pune/unique_listing.csv", index=False)

In [105]:
df['price_per_sqft'] = df['price_per_sqft'].round(0).astype(int)

C:\Users\ASUS\AppData\Local\Temp\ipykernel_5160\1975713008.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_per_sqft'] = df['price_per_sqft'].round(0).astype(int)

In [106]:
df = df.copy()   # ensures df is independent

df.loc[:, 'price_per_sqft'] = df['price_per_sqft'].round(0).astype(int)

In [107]:
df.to_csv("../data/parsed/pune/pune_listing_cleaned.csv", index=False)

## Data type conversion on final dataset

In [108]:
df = pd.read_csv("../data/parsed/pune/pune_listing_cleaned.csv")

In [111]:
df.head(5)

,price_num,bhk_number,area_sqft,price_per_sqft,locality,city,listing_url
0,6500000.0,2.0,834.0,7794,Dhanori,Pune,https://www.magicbricks.com/bramha-sky-city-ph...
1,7000000.0,2.0,800.0,8750,Ravet,Pune,https://www.magicbricks.com/lotus-laxmi-ravet-...
2,2500000.0,1.0,400.0,6250,Dhankawadi,Pune,https://www.magicbricks.com/propertyDetails/40...
3,13500000.0,3.0,1160.0,11638,Bhugaon,Pune,https://www.magicbricks.com/propertyDetails/3-...
4,5000000.0,2.0,715.0,6993,Tingre Nagar,Pune,https://www.magicbricks.com/choice-group-goodw...

In [112]:
df.dtypes

price_num         float64
bhk_number        float64
area_sqft         float64
price_per_sqft      int64
locality           object
city               object
listing_url        object
dtype: object

In [113]:
# Converting price_num and bhk_number to int
df['price_num'] = df['price_num'].astype(int)
df['bhk_number'] = df['bhk_number'].astype(int)

In [114]:
df['area_sqft'] = df['area_sqft'].astype(int)

In [115]:
df = df[['price_num', 'bhk_number', 'area_sqft', 'price_per_sqft',
         'locality', 'city', 'listing_url']]

In [117]:
df.dtypes

price_num          int64
bhk_number         int64
area_sqft          int64
price_per_sqft     int64
locality          object
city              object
listing_url       object
dtype: object

In [118]:
df.to_csv("../data/parsed/pune/pune_listings_cleaned.csv", index=False)